.App {
  display: flex;
  justify-content: center;
}
.form-css {
  width: 100%;
  margin-top: 3.5rem;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.font-css{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
  background-color: black;
  color: white;
  margin-bottom: 1rem;
}
.error-color {
  color: red;
}
.form-label {
  font-weight: bold;
}
